.content{
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px
}

.imagem-1{
  grid-row: span 2;
  align-self: end;
}

.imagem-2{
  align-self: end;
}


@media (max-width: 600px){
  .content{
    grid-template-columns: auto;
  }
}