* {
  padding: 0rem;
  margin: 0rem;
  border: 0rem;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

p {
  color: #fff;
}

body {
  background-color: rgb(0, 0, 0);
}
