.anuncios{
  display: grid;
  background: #fafbfc;
  align-content: start;
  border-radius: 5px;
  padding: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
}

